input[type="file"]::file-selector-button {
  border: 1px solid #ff0000;
  padding: 10px 25px 10px 25px;
  border-radius: 0.2em;
  background-color: white;
  border-radius: 10px;
  /* transition: 1s; */
  color: red;
  height: 80%;
  font-weight: bold;
  width: 60%;
  margin-top: 1.5%;
  margin-left: 1.5%;
}

input[type="file"]::file-selector-button:hover {
  background-image: linear-gradient(106deg, #ff1a6d, #ff6e2d 100%);
  color: white;
  border: 1px solid red;
}
