@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");

*::-webkit-scrollbar {
  width: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0003;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0006;
}

body {
  padding: 0;
  margin: 0;
}
/* .css-1tcrm42-MuiFormControl-root-MuiTextField-root .MuiOutlinedInput-root {
  background-color: #fff !important;
} */
